/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
@media (min-width:768px) {
  .main-content { width:800px; }
}

.custom-button {
  background-color:#e35d84;
  color:white;
}

.custom-button:hover { background-color:#c04b6d; }

.custom-div {
  background-color:#d9d9d9;
  border-radius:5px;
  color:#c04b6d;
  padding:2px;
}

.grayText { color:#939393; }

.highlight {
  background-color:var(--lumo-primary-color-50pct);
  color:#c04b6d;
}

.left-aligned {
  margin-left:0;
  margin-right:auto;
  width:110%;
}

.main-content {
  margin-top:2%;
  margin:0 auto;
  max-width:700px;
  width:100%;
}

.nav-link {
  color:inherit;
  text-decoration:none;
}

.nav-link.active {
  color:var(--lumo-primary-text-color);
  font-weight:bold;
}

.navbar-title-container {
  align-items:flex-end;
  display:flex;
  margin-left:13%;
}

.navbar-title-container h1,
.navbar-title-container h4 {
  line-height:normal;
  margin:0;
  padding:0;
}

.pinkText { color:#c04b6d; }

.second-button { color:#666666; }

.second-button:hover { background-color:rgba(204,51,102,0.2); }

.vaadin-tab {
  background-color:#f0f0f0;
  border-radius:10px;
  color:#000000;
  margin:5px;
  padding:10px;
}

.vaadin-tab[selected] {
  background-color:#ff0000;
  color:#ffffff;
}

head { display:block; }

head::after {
  content:url(icons/1.ico);
  display:none;
}

html,
body { background-color:#f0f0f0; }

vaadin-app-layout::part(drawer) { background-color:transparent; }

vaadin-app-layout::part(navbar) {
  background-color:#cc3366;
  color:white;
}

vaadin-button.post-open-view-button-1 {
  background-color:rgba(255,0,43,0.96);
  border-color:rgba(219,0,182,1);
}
vaadin-button.post-open-view-button-2 {
  background-color:gray;
  border-color:rgba(219,0,182,1);
}

vaadin-button.post-open-view-button-1::part(label) { color:rgba(255,255,255,1); }
